<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue calculator</title>
</head>
<body>

    <div id="app">
        <!-- input values inside of the paragraphs -->
        <p>x <input v-model="x"></p>
        <p>y <input v-model="y"></p>
        <!-- span is just like div but it is all about the INLINE -->
        <p>= <span v-text="result"></span></p>
    </div>

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <script type="text/javascript">

        // functions that checkes if the input is correct


        var calculate = new Vue({
            el: '#app',
            data: {
                x: 0,
                y: 0,
                lastResult: 0
            },
            // computed is cacched and will be recalculated if the dom will change
            computed: {
                result: function() {
                    let x = parseFloat(this.x);
                    let y = parseFloat(this.y);
                    this.lastResult = x+y;
                    return this.lastResult;
                }
            },
            // methods are just like js functions
            methods: {} 

        });

    </script>
</body>
</html>