<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Pet Depot</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="products.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " integrity="sha384- BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js">
</script>
</head>

<body>

    <div id="app">

        <h1 v-text="name"></h1>
        <button @click="showCheckout">
            {{ cartItemCount }}

            <span class="fas fa-shopping-cart"></span>
            Checkout
        </button>
        <br>
        <br>

        <div v-if="showProduct">
            <!-- the code for the product page -->

        <img v-bind:src="product.image" alt="pet food">
        <h2 v-text="product.title"></h2>
        <p v-html="product.description"></p>
        <p>{{ product.price }}</p>
        <button @click="addItem" v-bind:disabled="!canAddToCart">
            Add to cart
            <!-- v-show is treated as a bad practice :(  -->
        </button>

<span class="inventory-message" v-if="product.availableInventory - cartItemCount === 0">All out!</span>

<span class="inventory-message" v-else-if="product.availableInventory - cartItemCount < 5">Only {{product.availableInventory - cartItemCount}} left!</span>

<span class="inventory-message" v-else>Buy now!</span>

<div class="rating">

    <!-- <span v-for="n in 5"> -->

    <!-- <span v-bind:class="{'rating-active': checkRating(n)}" v-for="n in 5">
         ✩⭑
    </span> -->

    <span v-for="n in product.rating">⭑</span>
    <span v-for="n in 5-product.rating">✩</span>

</div>

        <!-- <button disabled v-else>Out of stock</button> -->
        </div>

        <div v-else>
            <!-- the code for the checkout page -->
            <h1>Checkout Page</h1>
            <p>
                <Strong>First name: </Strong>
                <input v-model="order.firstName"/>
            </p>
            <p>
                <Strong>Last name: </Strong>
                <input v-model="order.lastName"/>
            </p>

            <p><strong>Address: </strong> <input v-model="order.address"/></p>

            <p><strong>City: </strong> <input v-model="order.city"/></p>

            <p>
                <strong>State:</strong>
                <select v-model="order.state" class="form-control">
                    <option disabled value="">State</option>

                    <!-- Second solution -->
                    <option v-for="(state, key) in states" v-bind:value="state"> {{key}} </option>

                    <!-- First solution -->
                    <!-- <option :value="states.AL">AL</option>
                    <option :value="states.AR">AR</option>
                    <option :value="states.CA">CA</option>
                    <option :value="states.NV">NV</option> -->

                </select>
            </p>

            <p><strong>Zip Code:</strong> <input v-model="order.zip"/></p>

<p>
    <input type="checkbox" id="gift" value="true" v-model="order.gift" :true-value="order.sendGift" :false-value="order.dontSendGift">
    <label for="gift">Ship as a gift?</label>
</p>

<p>
    <input type="radio" id="home" value="Home" v-model="order.method">
    <label for="home">Home</label>
    <input type="radio" id="business" value="Business" v-model="order.method">
    <label for="business">Business</label>
</p>

            <h2>Order information</h2>
            <p>First name: {{order.firstName}}</p>
            <p>Last name: {{order.lastName}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>
            <p>Method: {{order.method}}</p>
            <p>Gift? {{order.gift}}</p>

            <button @click="submitForm">Place order</button>



            </p>

        </div>

    </div>

    <div id="app2">



    </div>
        <script type="text/javascript">

            let webstore = new Vue({
                el: '#app', // mounting point selector, ID
                data: {
                    name: 'Pet Depot',
                    showProduct: true,
                    product: {
                        id: 1001,
                        title: "Cat Food, 25lb bag",
                        description: "A 25 pound bag of <em>irresistable</em>," + " organic goodnes for your cat.",
                        price: 2000,
                        image: "product-fullsize.png",
                        availableInventory: 5,
                        rating: 3
                    },
                    cart: [],
                    order: {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        state: '',
                        zip: '1234',
                        method: 'Home',
                        gift: false,
                        sendGift: 'Send as a gift.',
                        dontSendGift: 'Do not send as a gift.'
                    },
                    products: [],
                    states: {
                        AL: "Alabama",
                        AR: "Arizona",
                        CA: "California",
                        NV: "Nevada"
                    }
                },
                methods: {
                    addItem() {
                        this.cart.push ( this.product.id );
                    },
                    showCheckout() {
                        this.showProduct = this.showProduct ? false : true;
                    },
                    submitForm() {
                        alert('Order submitted!')
                    },
                    checkRating(n) {
                        return this.product.rating - n >= 0;
                    },
                    created() {
                        axios.get('./products.json').then((response) => {
                            this.products=response.data.products;
                            console.log(this.product);
                        });
                    }
                },
                computed: {
                    cartItemCount() {
                        return this.cart.length || ''
                    },
                    canAddToCart() {
                        return this.product.availableInventory > this.cartItemCount;
                    }

                }
            })



        </script>
    
</body>
</html>